<div class="banner">
  <div class="container">
    <div class="span_1_of_1">
      <h2> <br><br> </h2>
      <div class="search">
        <ul class="nav1">
          <li id="search">
            <form accept-charset="UTF-8" action="/images" method="get">
                <input id="search_text" name="search" type="text" placeholder="Search" />
              <input type="submit" name="search_button" value= "" id="search_button"/>
            </form>
          </li>
          <li id="options">
            <a href="#">All Images</a>
            <ul class="subnav">
              <li><a href="#">Photography</a></li>
              <li><a href="#">Illustrations</a></li>
              <li><a href="#">Vector</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="grid_1">
  <h3>Over 42 Million Stock Images, Vectors, Footage and Audio Clips</h3>

  <div id="image">
    <%= render 'images/image' %>
  </div>
  <div class="apple_pagination">
    <%= will_paginate @images%>
  </div>


</div>